body 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: #f0f0f0;
        margin: 0;
        font-family: Arial, sans-serif;
    }

.Animation-Button
    {
        padding: 15px 40px;
        font-size: 18px;
        color: white;
        background-color: #6634ac;
        border: 2px solid #a680cd;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.4s ease, color 0.4s ease, border 0.4s ease;
        animation: pulse 2s infinite;
    }

.Animation-Button:hover 
    {
        background-color: white;
        color: #4ea578;
        border: 2px solid #5dd3b2;
        animation: none; /* Stop pulse on hover */
    }

@keyframes pulse 
{
    0% 
        {
            transform: scale(1);
            box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
        }

    70% 
        {
            transform: scale(1.05);
            box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
        }
        
    100% 
        {
            transform: scale(1);
            box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
        }
}
